body {
  font-family: "Courier New", monospace;
}

.header {
  height: 4em;
  background-color: rgb(189, 94, 152);
  display: flex;
  align-items: center;
}

p {
  margin: 0 auto;
}

.title {
  margin: 0 auto;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.settings {
  width: inherit;
  height: 5em;
  display: flex;
  align-items: center;
  background-color: #f1d0e6;
  background-size: cover;
}

form {
  margin: auto;
}

select {
  margin: 0 35px 0 5px;
}

.field {
  height: auto;
  text-align: center;
  border-style: solid;
  border-radius: 3px;
  border-color: rgb(189, 94, 152);
  background-color: ghostwhite;
  background-size: cover;
}

#pyramid {
  height: auto;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(189, 94, 152);
}
